footer {
    background-color: #192431;
    color: white;
    padding: 120px 20%;
    transition: $transition;
    @media (max-width: $firstBreakpoint) {
        padding-left: 20px;
        padding-right: 20px;
    }
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: $mobileBreakpoint) {
        padding-top: 30px;
        padding-bottom: 30px;
        flex-direction: column;
    }
    align-items: flex-start;
}

footer .content {
    display: flex;
    flex-direction: column;
}

footer h4 {
    @media (max-width: $mobileBreakpoint) {
        font-size: 22px;
    }
}

footer > * {
    margin-right: 60px;
    margin-left: 60px;
    @media (max-width: $mobileBreakpoint) {
        margin: 0;
    }
}

footer > *:first-child {
    margin-left: 0;
}

footer > *:last-child {
    margin-right: 0;
}

footer .content .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .content .menu ul {
    list-style: none;
    padding: 0;
}

footer .content .menu li {
    margin-top: 4px;
    margin-bottom: 4px;
}

footer .content .menu a {
    color: white;
    text-decoration: none;
}

footer .subscribe-box .email-form {
    display: flex;
    flex-direction: row;
}

footer .subscribe-box .email-form__input-field {
    height: 35px;
    width: 250px;
    background-color: #f6f7fa;
    border: none;
    border-radius: 2px 0 0 2px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 23px;
}

footer .subscribe-box .email-form__input-field:focus {
    outline: none;
}

footer .subscribe-box .email-form__submit-button {
    width: 40px;
    background-color: #82ca9c;
    border: none;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
}

footer .subscribe-box .email-form__submit-button:checked {
    outline: none;
}

footer .subscribe-box .description {
    color: #364455;
}