header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

header a {
    color: #595d63
}

header .header__logo img {
    @media (max-width: $mobileBreakpoint) {
        height: 70px;
        margin-top: 5px;
    }
}

header .menu ul {
    display: flex;
}

header .menu__item {
    margin: 3px;
    @media (max-width: $mobileBreakpoint) {
        margin-right: 20px;
    }
    list-style: none;
}

header .menu__item a {
    text-decoration: none;
    @media (max-width: $mobileBreakpoint) {
        font-size: 30px;
    }
}
@media (max-width: $mobileBreakpoint) {
    header .menu__item a:focus {
        color: red;
    }
}

.top-cover {
    background-image: url("images/masthead-background.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto;
    padding-left: 20%;
    padding-right: 20%;
    transition: $transition;
    @media (max-width: $firstBreakpoint) {
        padding-left: 20px;
        padding-right: 20px;
    }
    margin-bottom: 90px;
}


/*************************************/

.masthead {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
}

.masthead .phone img {
    height: 700px;
    @media (max-width: $mobileBreakpoint) {
        height: 600px;
    }
}

.masthead .titles {
    height: min-content;
    color: white;
}

.masthead .phone {
    position: relative;
    top: 150px;
    transition: $transition;
    @media (max-width: $firstBreakpoint) {
        top: 100px;
        right: 50px;
    }
}

.masthead .titles__main-title {
    font-size: 50px;
}

.masthead .titles__subtitle {
    font-size: 18px;
}


.text .content {
    color: #707070;
}

.text .content h2 {
    color: #222626;
}

