@font-face {
    font-family: "Open Sans";
    src: url("https://fonts.google.com/specimen/Open+Sans") format("woff2"),
    url("https://fonts.google.com/specimen/Open+Sans") format("woff");
}

body {
    margin: 0;
    font-family: "Open Sans", serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 0 0 100%;
}

.main-cover {
    /*flex: 0 1 100%;*/
    width: 1920px;
}

.top-cover {
    background-image: url("images/masthead-background.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 90px;
}

@media (max-width: 900px) {
    .top-cover {
        padding-left: 20px;
        padding-right: 20px;
    }

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    font-family: "Microsoft YaHei Light", serif;
}

header a {
    color: #595d63
}



header .menu ul {
    display: flex;
}

header .menu__item {
    margin: 3px;
    list-style: none;
}

header .menu__item a {
    text-decoration: none;
}

main .masthead {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: "Microsoft YaHei Light", serif;
}

main .masthead .phone img {
    height: 700px;
}

.masthead .titles {
    height: min-content;
    color: white;
}

.masthead .phone {
    position: relative;
    top: 150px;
}

.text {
    font-family: "Microsoft YaHei Light", serif;

}

.text .content {
    color: #707070;
}

.text .content h2 {
    color: #222626;
}

.below {
    margin-left: 20%;
    margin-right: 20%;
}

@media (max-width: 900px) {
    .below {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.text .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
}

.text .content .column {
    margin-left: 10px;
    margin-right: 10px;
}

.text .content .column:first-child {
    margin-left: 0;
    margin-right: 10px;
}

.text .content .column:last-child {
    margin-left: 10px;
    margin-right: 0;
}

/***************************/
.box-grid {
    display: flex;
    flex-direction: column;
    color: white;
}

.box-grid {
    font-family: "Microsoft YaHei Light", serif;
}

.box-grid h2 {
    font-family: "Microsoft YaHei Light", serif;
}

.box-grid a {
    text-decoration: none;
    color: white;
    width: max-content;
}

.box-grid .line {
    display: flex;
}

.box-grid section h2 {
    margin-top: 0;
}

.box-grid .link-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.box-grid section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 45px 25px 60px;
}

.box-grid .box-small, .box-blue, .box-yellow, .box-dark-blue {
    flex: 0 1 33%;
    /*width: 400px;*/
    height: 200px;
}

.box-grid .box-large {
    flex: 0 1 66%;
    /*width: 800px;*/
    height: 200px;
    padding-right: 75px;
    background-image: url("images/large-box-background.png");
    background-size: cover;
}

.box-grid .box-small {
    background-image: url("images/small-box-background.png");
    background-size: cover;
}

.box-grid .box-yellow {
    background: #82ca9c;
}

.box-grid .box-blue {
    background: #f5989d;
}

.box-grid .box-dark-blue {
    background: #615f7d;
}

.icon {
    height: 30px;
}

.icon-button {
    background: transparent no-repeat;
    overflow: hidden;
    border: none;
    outline: none;
    cursor: pointer;
}

/***************************************/
.four-col {
    font-family: "Microsoft YaHei Light", serif;
    color: #707070;
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}



.four-col h2 {
    color: #3a3e3e;
    margin-bottom: 0;
}

.four-col h3 {
    margin-top: 10px;
    color: #5f5f5f;
}

.four-col .column {
    margin-left: 10px;
    margin-right: 10px;
}

.four-col .column:first-child {
    margin-left: 0;
}

.four-col .column:last-child {
    margin-right: 0;
}

.four-col .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.four-col .columns {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 30px;
}

/************************/
.full-image {
    background-image: url("images/steering-wheel.png");
    background-size: cover;
    background-position: center;
    height: 800px;
    /*width: 100%;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 20%;
    padding-left: 20%;
    color: white;
    font-family: "Microsoft YaHei Light", serif;
}

.full-image .content a {
    text-decoration: none;
    color:white;
}

.full-image .content {
    margin-bottom: 150px;
    width: 300px;
}

.full-image .content * {
    margin-bottom: 30px;
    margin-top: 30px;
}

@media (max-width: 900px) {
    .full-image {
        padding-right: 20px;
        padding-left: 20px;
    }
}

/****************************/

.colour-layout {
    background-color: #82ca9c;
    padding: 80px 20% 100px;
}

@media (max-width: 900px) {
    .colour-layout {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.colour {
    color: white;
    font-family: "Microsoft YaHei Light", serif;
}

.colour h2 {
    margin-top: 0;
}

.colour .columns {
    display: flex;
    flex-direction: row;
    
}

.colour .columns .column {
    margin-left: 10px;
    margin-right: 10px;
}

.colour .columns .column:first-child {
    margin-left: 0;
}

.colour .columns .column:last-child {
    margin-right: 0;
}
